@model IEnumerable<SchoolProgram.Models.SchoolClass>

@{
    ViewData["Title"] = "Classes";
}

<style>
    
    .card {
        background-color: lightgray;
        margin: 0;
        padding: 0;
        box-shadow: 5px 5px 10px #808080;
    }

    .card:hover {
        box-shadow: 8px 8px 8px #808080;
    }

</style>


<h1>Classes</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<div class="card-columns" style="columns: 4;">

    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-body">
                <h2>@item.Id</h2>
                <a id="details" asp-action="Details" asp-route-id="@item.Id">Details</a>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id"> Edit </a>
                    <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>

                }
            </div>
        </div>
    }

</div>



